@if (project) {
  <div class="project-container">
    <!-- Project Details Section -->
    <div class="project-header">
      @if (!isEditing) {
          <div class="flex">
            <h1>{{ project.nom }}</h1>
            @if (currentUserRole !== 'OBSERVER') {
              <div class="flex">
                <button class="btn btn-secondary me-1" type="button" (click)="startEditing()"><i class="bi bi-pencil-square"></i> Modifier</button>
                <button class="btn btn-danger" title="supprimer" type="button" (click)="deleteProject()"><i class="bi bi-trash"></i></button>
              </div>
            }
          </div>
          <p>{{ project.description }}</p>
          <small>Date de début: {{ project.dateDebut | date: 'dd/MM/yyyy' }}</small><br>
          <small>Date de fin: {{ project.dateFin | date: 'dd/MM/yyyy' }}</small>
      } @else if (isEditing && currentUserRole !== 'OBSERVER') {
        <form [formGroup]="projectForm" (ngSubmit)="updateProject()">
          <div class="input-group">
            <label for="nom">Nom du projet:</label>
            <input id="nom" formControlName="nom">
          </div>
          <div class="input-group">
            <label for="description">Description:</label>
            <textarea id="description" formControlName="description" rows="5"></textarea>
          </div>
          <div class="input-group">
            <label for="dateFin">Date de fin:</label>
            <input id="dateFin" type="date" formControlName="dateFin">
          </div>
          <div class="text-center">
            <button class="btn btn-secondary me-1" type="button" (click)="cancelEdit()">Annuler</button>
            <button class="btn btn-primary" type="submit" [disabled]="projectForm.invalid">Enregistrer</button>
          </div>
        </form>
      }
    </div>

    <!-- Task Section -->
    <div class="flex mt-3 mb-2">
      <h3>Tâches</h3>
      @if (currentUserRole !== 'OBSERVER') {
        <button class="btn btn-primary" type="button" (click)="goToNewTask()"><i class="bi bi-plus"></i> Nouvelle tâche</button>
      }
    </div>

    <!-- Task Board Section -->
    <div class="task-board" cdkDropListGroup>
      <div class="task-column"
           id="TODO"
           cdkDropList
           [cdkDropListDisabled]="currentUserRole === 'OBSERVER'"
           [cdkDropListData]="todoTasks"
           (cdkDropListDropped)="drop($event)">
        <h2>À faire</h2>
        @for (task of todoTasks ; track task.id) {
          <div cdkDrag [cdkDragDisabled]="currentUserRole === 'OBSERVER'" class="task-card" (click)="goToTaskDetail(task.id)">
            <div class="priority-indicator" [ngClass]="{
              'priority-high': task.priorite === 'HIGH',
              'priority-medium': task.priorite === 'MEDIUM',
              'priority-low': task.priorite === 'LOW'
            }"></div>
            <h3>{{ task.nom }}</h3>
            <p>{{ task.description }}</p>
            <small>Échéance: {{ task.dateEcheance | date: 'dd/MM/yyyy' }}</small>
          </div>
        }
      </div>
      <div class="task-column"
           id="IN_PROGRESS"
           cdkDropList
           [cdkDropListDisabled]="currentUserRole === 'OBSERVER'"
           [cdkDropListData]="inProgressTasks"
           (cdkDropListDropped)="drop($event)">
        <h2>En cours</h2>
        @for (task of inProgressTasks ; track task.id) {
          <div cdkDrag [cdkDragDisabled]="currentUserRole === 'OBSERVER'" class="task-card" (click)="goToTaskDetail(task.id)">
            <div class="priority-indicator" [ngClass]="{
              'priority-high': task.priorite === 'HIGH',
              'priority-medium': task.priorite === 'MEDIUM',
              'priority-low': task.priorite === 'LOW'
            }"></div>
            <h3>{{ task.nom }}</h3>
            <p>{{ task.description }}</p>
            <small>Échéance: {{ task.dateEcheance | date: 'dd/MM/yyyy' }}</small>
          </div>
        }
      </div>
      <div class="task-column"
           id="DONE"
           cdkDropList
           [cdkDropListDisabled]="currentUserRole === 'OBSERVER'"
           [cdkDropListData]="doneTasks"
           (cdkDropListDropped)="drop($event)">
        <h2>Terminé</h2>
        @for (task of doneTasks ; track task.id) {
          <div cdkDrag [cdkDragDisabled]="currentUserRole === 'OBSERVER'" class="task-card" (click)="goToTaskDetail(task.id)">
            <div class="priority-indicator" [ngClass]="{
              'priority-high': task.priorite === 'HIGH',
              'priority-medium': task.priorite === 'MEDIUM',
              'priority-low': task.priorite === 'LOW'
            }"></div>
            <h3>{{ task.nom }}</h3>
            <p>{{ task.description }}</p>
            <small>Échéance: {{ task.dateEcheance | date: 'dd/MM/yyyy' }}</small>
          </div>
        }
      </div>
    </div>

    <!-- Participants Section -->
    <div class="participants-section mt-3">
      <div class="flex">
        <h3>Participants</h3>
      </div>
      <app-user-project
        [allUsers]="allUsers"
        [availableRoles]="availableRoles"
        [projectId]="project.id"
        [currentUserRole]="this.currentUserRole"
        [editing]="true">
      </app-user-project>
    </div>
  <app-historique [projectId]="project.id"></app-historique>
  </div>
} @else {
  <div>
    <p>Chargement du projet...</p>
  </div>
}
