@if (projects$ | async; as projects) {
  <div>
  @if (projects.length > 0) {
    <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Tâches</th>
      </tr>
    </thead>
    <tbody>
      @for (project of projects; track project.id) {
        <tr (click)="goToProject(project.id)">
          <td>{{ project.nom }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.dateDebut | date: 'dd/MM/yyyy' }}</td>
          <td>{{ project.dateFin | date: 'dd/MM/yyyy' }}</td>
          <td>{{ project.tasks.length }}</td>
        </tr>
      }
    </tbody>
    </table>
  } @else {
    <div>
      <p>Aucun projet trouvé.</p>
    </div>
  }
</div>
} @else {
  <div>
    <p>Chargement des projets...</p>
  </div>
}
