<div class="participant-adder-container" [formGroup]="addParticipantForm">
  <div class="participant-grid">
    <!-- Grid Header -->
    <div class="grid-header">Utilisateur</div>
    <div class="grid-header">Rôle</div>
    <div class="grid-header"><br></div> <!-- Action column header -->

    <!-- Grid Rows -->
    <div formArrayName="participants" class="grid-rows-container">
      <div *ngFor="let participant of participants.controls; let i = index"
        [formGroupName]="i"
        class="grid-row">
          <select title="user" formControlName="userId" class="form-control">
            <option value="" disabled>-- Sélectionner un utilisateur --</option>
            @for (user of allUsers; track user.id) {
              <option [value]="user.id">{{ user.nom }} ({{ user.email }})</option>
            }
          </select>

          <select title="role" formControlName="role" class="form-control">
            @for (role of availableRoles; track role) {
              <option [value]="role">{{ getRoleDisplayName(role) }}</option>
            }
          </select>

          @if (this.currentUserRole === 'ADMIN') {
            <button title="retirer" type="button" (click)="removeParticipant(i)" class="btn btn-danger btn-sm">
              <i class="bi bi-trash"></i>
            </button>
          } @else {
            <div></div>
          }
        </div>
    </div>
  </div>
  @if (this.currentUserRole === 'ADMIN') {
    <div class="actions-footer">
      <button type="button" (click)="addParticipant()" class="btn btn-secondary me-1">
        <i class="bi bi-plus"></i> Ajouter une ligne
      </button>
      @if (editing) {
        <button type="button" (click)="onSubmit()" class="btn btn-primary">
          Enregistrer
        </button>
      }
    </div>
  }
</div>