<div class="card-container">
  <h2>Nouveau Projet</h2>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom du Projet:</label>
      <input type="text" id="nom" formControlName="nom" class="form-control" />
      @if (projectForm.get('nom')?.invalid && (projectForm.get('nom')?.dirty || projectForm.get('nom')?.touched)) {
        <div class="error-message">
          Le nom du projet est requis.
        </div>
      }
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
      ></textarea>
      @if (
        projectForm.get('description')?.invalid &&
        (projectForm.get('description')?.dirty || projectForm.get('description')?.touched)
        ) {
          <div class="error-message">
            La description du projet est requise.
          </div>
        }
    </div>

    <div class="form-group">
      <label for="dateFin">Date de Fin (optionnel):</label>
      <input
        type="date"
        id="dateFin"
        formControlName="dateFin"
        class="form-control"
      />
    </div>

    <h3>Membres</h3>
    <app-user-project-add 
      [allUsers]="allUsers" 
      [availableRoles]="availableRoles"
      [initialData]="initialParticipantList"
      (save)="setParticipants($event)">
    </app-user-project-add>

    <hr />

    <div class="text-center">
      <button
        type="submit"
        [disabled]="projectForm.invalid"
        class="btn btn-primary"
      >
        Créer le Projet
      </button>
    </div>
    
  </form>
</div>
