
/* Add some icons from a CDN if you don't have them locally */
@import url("https://cdnjs.cloudflare.com/ajax/libs/glyphicons/0.4.0/css/glyphicons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 25px;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: calc(100% - 75px);
    float: left;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    margin-left: 60px;
}

.timeline > li > .timeline-badge {
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 38px;
    margin-left: -25px;
    align-items: center;

    /* Flexbox for centering content */
    display: flex;
    flex-direction: column;
}

.timeline-badge .timeline-date-badge {
    font-size: 0.7em; /* Smaller font for date */
    margin-bottom: 3px; /* Space between date and icon */
    z-index: 1;
}

.timeline-heading{
    display: flex;
    justify-content: space-between;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}
.text-muted {
    color: #777;
}

.historique-container h4 {
    margin-bottom: 20px;
}

/* Custom styles for old/new values */
.old-value {
    color: #dc3545; /* Red for old value */
    font-weight: bold;
    margin-bottom: 5px;
}

.new-value {
    color: #28a745; /* Green for new value */
    font-weight: bold;
    margin-top: 5px;
}

.bi-arrow-right-circle-fill::before {
    border-radius: 50%;
    border: 1px solid #777;
    color: darkslategray;
    background-color: #fff;
    z-index: 5;
}