<div class="historique-container">
  @if (historiques.length > 0) {
    <h3 class="mt-3">Historique</h3>
    <ul class="timeline">
      @for (item of historiques; track $index) {
        <li>
          <div class="timeline-badge">
            <div class="change-arrow">
              <i class="bi bi-arrow-right-circle-fill"></i>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">{{ item.user.nom || 'Utilisateur inconnu' }}</h5>
              <p>{{ item.dateM | date:'dd/MM/yy' }} <small class="text-muted">{{ item.dateM | date:'HH:mm' }}</small></p>
            </div>
            <div class="timeline-body">
              <p class="old-value">- {{ item.oldString }}</p>
              <p class="new-value">+ {{ item.newString }}</p>
            </div>
          </div>
        </li>
      }
    </ul>
  }
</div>