<div class="form-container">
  <div class="form-card">
    <h2>Inscription</h2>
    <form (ngSubmit)="onSubmit()" #signinForm="ngForm">
      <div class="input-group">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" [(ngModel)]="nom" name="nom" required #nomField="ngModel">
        @if (nomField.invalid && (nomField.dirty || nomField.touched)) {
          <div class="error-message">
          @if (nomField.errors?.['required']) {
            <div>Le nom est requis.</div>
          }
          </div>
        }
      </div>
      <div class="input-group">
        <label for="email">Email:</label>
        <input 
          type="email" 
          id="email" 
          [(ngModel)]="email" 
          name="email" 
          required
          email
          #emailField="ngModel"
          [class.is-invalid]="emailField.invalid && (emailField.dirty || emailField.touched)">
        @if (emailField.invalid && (emailField.dirty || emailField.touched)) {
          <div class="error-message">
            @if (emailField.errors?.['required']) {
              <div>L'adresse email est requise.</div>
            } @else if (emailField.errors?.['email']) {
              <div>Veuillez entrer une adresse email valide.</div>
            }
          </div>
        }
  
      </div>
      <div class="input-group" ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup">
        <label for="password">Mot de passe:</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          required
          minlength="4"
          #passwordField="ngModel"
          [class.is-invalid]="passwordField.invalid && (passwordField.dirty || passwordField.touched)">
        @if (passwordField.invalid && (passwordField.dirty || passwordField.touched)) {
          <div class="error-message">
            @if (passwordField.errors?.['required']) {
              <div>Le mot de passe est requis.</div>
            } @else if (passwordField.errors?.['minlength']) {
              <div>Le mot de passe doit contenir au moins 6 caractères.</div>
            }
          </div>
        }
      </div>
      <div class="input-group">
        <label for="confirmPassword">Confirmer le mot de passe:</label>
        <input 
          type="password" 
          id="confirmPassword" 
          [(ngModel)]="confirmPassword" 
          name="confirmPassword" 
          required
          #confirmPasswordField="ngModel"
          [class.is-invalid]="confirmPasswordField.invalid && (confirmPasswordField.dirty || confirmPasswordField.touched)">
        @if (confirmPasswordField.invalid && (confirmPasswordField.dirty || confirmPasswordField.touched)) {
          <div class="error-message">
            @if (confirmPasswordField.errors?.['required']) {
              <div>La confirmation du mot de passe est requise.</div>
            } @else if (passwordField.value !== confirmPasswordField.value && confirmPasswordField.dirty && confirmPasswordField.touched) {
              <div>Les mots de passe ne correspondent pas.</div>
            }
          </div>
        }
      </div>
      <button class="btn btn-primary mb-3" type="submit" [disabled]="signinForm.invalid || passwordField.value !== confirmPasswordField.value">S'inscrire</button>
      @if (signinError) {
        <div class="error-message">
          {{ signinError }}
        </div>
      }
    </form>
    <p>Déjà inscrit ? <a routerLink="/login">Se connecter</a></p>
  </div>
</div>